WPE_SERVER_URL=http://115.245.93.26:8973
SCALE_BRIDGE_API_KEY=replace-with-bridge-api-key
DEVICE_ID=AD-WEIGH-01
WORKSTATION_ID=PRODUCTION-PC-01
SERIAL_PORT=AUTO
SERIAL_BAUD_RATE=9600
PUSH_INTERVAL_MS=500
STALE_AFTER_SECONDS=5
BRIDGE_DEMAND_POLL_SECONDS=2
BRIDGE_IDLE_POLL_SECONDS=10
